* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:black;
  font-family: 'Roboto', sans-serif;
}
body {background: #695be2;display: flex;justify-content: center;align-items: center;min-height: 100vh;width: 100%;}
.app {background-color:white;width: 500px;min-height: 200px;border-radius: 15px;padding: 25px;display: flex;
box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);position: relative;}
.quizz {width: 100%;}
.question__section {flex: 0 0 50%}
.question__count {margin-bottom: 20px;}
.question__count  span {font-size: 28px;}
.question__text {margin-bottom:15px}
.answer_section {width: 100%;display: flex;flex-direction: column;justify-content: space-between;}
button {width: 100%;font-size: 16px;color:black;background-color:white;
display: flex;justify-content: center;align-items: center;border-radius: 15px;padding: 5px; cursor: pointer;border: 2px solid #c0c0c0;
margin: 5px 0;outline: none;}
button:hover {background:#c0c0c0;transition: all 0.3s ease;}
.section_score {display: flex;justify-content: center;
align-items: center;flex-direction: column;font-size: 24px;width: 100%;}
.refresh__btn {background: linear-gradient(to right, rgb(15, 235, 88), rgb(35, 179, 232)); color: white;border:none ;  transition: all 0.3s ease}
.refresh__btn:hover { background: linear-gradient(to right, rgb(35, 179, 232), rgb(15, 235, 88)); transition:all 0.3s ease; }
.btn__dalee  {   width: 50px;
  }
  .btn__end{  width: 50px;    
    }
    .btn__dalee__next {  display: flex;    justify-content: space-between;}

.btn__answer {      padding: 10px 20px;}
.progress {background-color: #c0c0c0;     height: 10px;border-radius: 15px;margin-bottom: 10px;}
.progress_status {  background: linear-gradient(to right, rgb(15, 235, 88), rgb(35, 179, 232));     height: 10px; border-radius: 15px;}
.incorrect {      border: 2px solid #c0c0c0;    border-radius: 15px;    padding: 10px 20px;margin-bottom: 10px;font-size: 15px;width: 100%;}
.incorrect_p {margin-top: 20px;margin-bottom: 10px;font-size: 15px;}
.correct {background-color: rgb(104, 213, 104);color: white; padding: 10px; border-radius: 15px;font-size: 10px; }
.incorrect_your {background-color: rgb(255, 93, 93);color: white; padding: 10px; border-radius: 15px;font-size: 10px;margin-bottom: 5px; }